body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #C3C3C3;
  font: 12pt 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page {
  width: 220mm;
  height: 150mm;
  margin: 10mm auto;
  padding: 20mm;
  background-color: #FFF;
  overflow: hidden;
}
.page-content {
  border-top: 5px #000 solid;
  border-bottom: 5px #000 solid;
  height: 100%;
  width: 100%;
}
.page-title,
.page-title2 {
  width: 100%;
  text-align: center;
}
.page-title2 {
  font-family: font95430;
}
.page-content .col1 {
  columns: 1;
  -moz-columns: 1;
  -webkit-columns: 1;
  padding-top: 5%;
}
.page-content .col1 img {
  height: 450px;
  width: 100%;
}
.page-content .col2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 8%;
}
/* Print */
@page {
  size: landscape;
}
@media print {
  .page {
    page-break-after: always;
    margin: 0 auto;
  }
  #header {
    display: none;
  }
}